@import 'custom';
.cardsGrid{
    display: grid;
    max-width: 95rem;
    margin: 25px auto;
    grid-template-columns: 1fr;
    @media (min-width: 700px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 50px auto;
    }
}