.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

<<<<<<< HEAD
.nav {
  height: 5.625rem;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}

.brand{
  color: #1D4ED8;
  font-weight: 800;
  margin: 0 50px;
}
=======
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
>>>>>>> 111d74a3849fa90bde5580f05678dc623c64ef0e
