.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2em;

  p {
    color: #0f172a;
    font-weight: 700;
    font-size: 34px;
    margin: 0 50px;
  }

  .btnContainer {
    margin: 16px 50px;
  }

  .surveyBtn {
    width: 130px;
    height: 48px;
    background: #1d4ed8;
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    justify-content: center;
  }
}

.linksWrap {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  @media (max-width: 678px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.userNav {
  display: grid;
  align-items: center;

  a {
    color: #475569;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 20px;
    &:hover {
      border-bottom: 4px solid #1d4ed8;
    }
  }

  @media (min-width: 700px) {
    display: flex;

    a {
      color: #475569;
      font-weight: 600;
      font-size: 18px;
      text-decoration: none;
    }
  }
}
